<div class="box">
  <div class="left-box">
    <div class="home-text">
      <label style="color: #9d9d9d">Home /</label>
      <label>Book(01)</label>
    </div>
    <div class="container">
      <div class="inner-left-box">
        <div class="one">
          <div class="ineer-left-box-img">
            <img src="assets\Image\Image 11.png" />
          </div>
        </div>
        <div class="two">
          <div class="ineer-left-box-img">
            <img
              src="https://res.cloudinary.com/demirsba2/image/upload/v1711884819/Notes/0.jpg"
            />
          </div>
        </div>
      </div>

      <div class="book-button">
        <div class="inner-right-box">
          <div class="inner-right-box-img">
            <img src="assets\Image\Image 11@2x.png" />
          </div>
        </div>

        <div class="buttons">
          <button style="background-color: #a03037">ADD TO BAG</button>
          <button
            style="
              background-color: rgb(25, 21, 21);
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
            "
          >
            <span class="material-symbols-outlined" style="font-size: 18px">
              favorite
            </span>
            WISHLIST
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="right-box">
    <div class="right-top">
      <p style="font-size: 25px">Don't Make Me Think</p>
      <p style="font-size: 16px; color: #878787">by Steve Krug</p>

      <div style="display: flex; gap: 8px">
        <div class="rating">
          <span style="font-weight: 500; color: white">4.5</span>
          <span
            class="material-symbols-outlined"
            style="font-size: 12px; color: white"
          >
            star
          </span>
        </div>
        <span style="color: #878787">(20)</span>
      </div>

      <div class="price">
        <span id="price2">Rs. 1500</span>
        <span id="cut">Rs. 2000</span>
      </div>
    </div>

    <div class="right-mid">
      <span style="font-size: 15px; font-weight: 500">Book Detail</span>
      <p style="margin-top: 5px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, facilis
        accusamus tempore ab cumque repudiandae cum fuga dolorem et veniam quam
        facere eius magni illum cupiditate? Reiciendis, rerum dolorum natus
        veritatis dolores nostrum architecto a, sapiente molestias mollitia
        tempora similique, quos iste ipsam culpa ducimus!
      </p>
    </div>

    <div class="right-down">
      <h3 id="cus">Customer Feedback</h3>
      <div class="can">
        <h4 style="margin: 0px">Overall rating</h4>
        <div class="star">
          <span class="material-symbols-outlined md-light1" id="st">
            star
          </span>
          <span class="material-symbols-outlined md-light1" id="st">
            star
          </span>
          <span class="material-symbols-outlined md-light1" id="st">
            star
          </span>
          <span class="material-symbols-outlined md-light1" id="st">
            star
          </span>
          <span class="material-symbols-outlined md-light1" id="st">
            star
          </span>
        </div>
        <div class="place">
          <input placeholder="Write your review" id="write" />
          <button>Submit</button>
        </div>
      </div>
      <div class="review">
        <img src="assets\Image\Screenshot 2024-04-03 180017.png" alt="">
      </div>
    </div>
  </div>
</div>
